<div class="hidden sm:block" aria-hidden="true">
  <div class="py-2">
    
  </div>
</div>

<div class="mt-10 sm:mt-0">
  <div class="min-h-full px-4 sm:px-6 lg:px-8 md:max-w-2xl max-w-md mx-auto bg-white dark:bg-slate-800 rounded-lg py-8 ring-1 ring-slate-900/5 shadow-xl">
    <div class="mt-5 md:mt-0 md:col-span-2" >
      <h1 class="float-left title_users">Users List</h1>
      <h1 class="timer float-right" [appRoundedCorner]=" 'blue' ">{{ time | date: 'hh:mm:ss a' }}</h1>
      <ul role="list" class="py-8 px-2 divide-y divide-slate-200 clear-both">
        <li *ngFor="let people of Users" class="flex p-3 mb-4 " [appRoundedCorner]=" 'blue' " >
          <img class="h-10 w-10 rounded-full flex-none" [src]="people.ImagePath" alt="{{people.name}}" />
          <div class="ml-3 overflow-hidden flex-1 w-64">
            <p class="text-sm font-medium text-slate-900"><strong>Name</strong> : {{people.name}}</p>
            <p class="text-sm text-slate-500 truncate"><strong>Email</strong> : {{people.Email}}</p>
            <p class="text-sm text-slate-500 truncate"><strong>DOB</strong> :{{people.dob}}</p>
          </div>
          <button class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm mt-4" ><a routerLink="admin-detail">View Details</a> </button>
          <!-- <button class="px-4 py-2 font-semibold text-sm flex-2 bg-cyan-500 text-white rounded-full shadow-sm">View Details</button> -->
        </li>
      </ul>
    </div>
  </div>
</div>









