<div class="hidden sm:block" aria-hidden="true">
  <div class="py-2">
  </div>
</div>

<div class="mt-10 sm:mt-0">
  <div class="min-h-full  py-12 px-4 sm:px-6 lg:px-8 md:max-w-2xl max-w-md mx-auto bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
    <div class="mt-5 md:mt-0 md:col-span-2"><h1>Users List</h1>
      <ul role="list" class="p-6 divide-y divide-slate-200 ">
        <li *ngFor="let people of Users" class="flex py-4 first:pt-0 last:pb-0">
          <img class="h-10 w-10 rounded-full" [src]="people.ImagePath" alt="{{people.name}}" />
          <div class="ml-3 overflow-hidden">
            <p class="text-sm font-medium text-slate-900">{{people.name}}</p>
            <p class="text-sm text-slate-500 truncate">{{people.Email}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-child [loginuser]="child"></app-child>



